# Troque pelo Project ID do seu GCP
project_id = "my-gcp-project-id"

region = "us-central1"
zone   = "us-central1-a"

cluster_name       = "devops-cluster"
artifact_repo_name = "devops-repo"

node_count   = 2
machine_type = "e2-medium"
